.time-sheet-container {
  /* max-width: 800px; */

  margin: 0 auto;

  padding: 20px;
}

.time-sheet-form {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 10px;
}

label {
  display: block;

  font-weight: bold;
}

/* input[type="text"], */

/* input[type="date"], */

input[type="number"] {
  width: 100%;

  height: 30px;

  padding: 8px;

  font-size: 16px;

  border: 1px solid #ccc;

  border-radius: 4px;

  color: #e55d17;
}

button {
  background-color: #047681;

  color: rgb(243, 239, 239);

  padding: 10px 20px;

  margin: 2px;

  /* display: flex; */

  /* display: inline-flex; */

  border: none;

  border-radius: 4px;

  cursor: pointer;

  /* height: 40px;
  
    text-align: center; */
}

button:hover {
  background-color: #e55d17;
}

.time-sheet-table {
  width: 100%;

  border-collapse: collapse;
}

.time-sheet-table th,
.time-sheet-table td {
  border: 1px solid #ddd;

  padding: 8px;
}

.time-sheet-table th {
  background-color: #f2f2f2;

  /* text-align: center; */
}

.time-sheet-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Screen vs Print display */
.print-header {
  display: none;
}

.screen-header {
  display: block;
}

@media print {
  .print-header {
    display: table-header-group; /* repeats on every printed page */
  }
  .screen-header {
    display: none;
  }
}

.print-header {
  display: none;
}

@media print {
  .print-header {
    display: block;
  }

  thead {
    display: table-header-group;
  }
  tfoot {
    display: table-footer-group; /* if you want repeating footers too */
  }
}

@media print {
  .hide-on-print {
    display: none !important;
  }
}

@media print {
  thead {
    display: table-header-group;
  }
}

@media print {
  .print-header-auto {
    display: table-header-group;
  }
}

/* Style1.css */
.table-container {
  width: 100%;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

/* Default styles for DPR tables */
.dpr-table td,
.dpr-table th {
  font-size: 15px;
  padding: 8px;
}

/* Mobile responsive styles */
@media (max-width: 600px) {
  .dpr-table td,
  .dpr-table th {
    font-size: 12px; /* smaller font */
    padding: 5px; /* reduce padding so table fits */
  }

  .dpr-table img {
    max-width: 100px; /* shrink images in mobile */
    height: auto;
  }

  .dpr-table th {
    font-size: 13px; /* make headers a little more visible */
  }
}
